.background-white {
	background-color: white;
}

.full-screen-modal-dialog {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.full-screen-modal-content {
	min-height: 100%;
	border-radius: 0;
}

.my-select-control-style {
	padding-top: 8px;
	padding-bottom: 8px;
}

.label-style {
	padding-top: 20px;
}